# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.GGJ2021.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\repositories\GGJ2021\.idea\.idea.GGJ2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
